body {
  font-family: 'Fira Sans', 'Open Sans', 'Roboto', sans-serif;
  font-weight: 300;
}

#chapo .btn, header, footer, .btn, .bg-light, .ui {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}
.btn {
  font-weight: 400;
}
h1, h3, time, address, #chapo p {
  font-family: 'EB Garamond', serif;
}
em, cite, i {
}

main {
}



article {

}

/* Google material icon */
p.ccm-block-next-previous-previous-link::before,
p.ccm-block-next-previous-next-link::after,
#chapo .btn::after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

p.ccm-block-next-previous-previous-link::before,
p.ccm-block-next-previous-next-link::after,
#chapo .btn::after {
  color: #cf1308;
}
body {
  margin: 0;
  padding: 0;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}


.text-red {
  color: #dd0000;
}

.bg-light {
  /* bootstrap overide */
  background-color: #f5f4f5 !important;
}
.bg-red {
  background-color: #dd0000;
  color: #fff;
}
.bg-red a {
  color: #fff;
}
.bg-black {
  background-color: #000000;
}

.bkg-gradient-brighter-to-brightest {
  background: linear-gradient(0deg, #eee 0%, #ccc 100%);
}

.bkg-gradient-brighter-to-white {
  background: linear-gradient(0deg, white 0%, #ccc 100%);
}

.bkg-gradient-white-to-brighter {
  background: linear-gradient(0deg, #ccc 0%, #FFF 100%);
}

.liseuse h1,
.liseuse h2,
.liseuse h3,
.liseuse h4 {
  text-align: center;
}

.booktitle {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}
.booktitle a {
  display: block;
  padding: 10px;
}
.booktitle a:hover {
  color: #000000;
}

.liseuse h1.article {
  margin-bottom: 5rem;
}


h1 {
  margin-top: 1rem;
  font-size: 2rem;
  padding: 0;
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: left;
  line-height: initial;
  margin: 1rem 0;
  padding: 0;
}

h3 {
  font-weight: normal;
  font-size: 1.2rem;
  padding: 0;
}

.ccm-block-page-list-header,
h4 {
  font-size: 1.5rem;
  font-weight: normal;
}

h5, h6 {
  font-weight: normal;
}

h5 {
  font-size: 100%;
}

.slider {
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1rem;
  position: relative;
  display: flex;
  height: 400px;
  align-content: flex-start ;
}

.slider {
  scrollbar-width: auto;
  scrollbar-color: #dd0000 #FFFFFF;
}
.slider::-webkit-scrollbar {
   -webkit-appearance: none;
}

.slider::-webkit-scrollbar:horizontal {
  height: 10px;
}
.slider::-webkit-scrollbar-track {
  background: #FFFFFF;
}
.slider::-webkit-scrollbar-thumb {
  background-color: #cf1308;
  border-radius: 3px;
  border: 1px solid #cf1308;
}


.slider h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: right;
  border-left: 2px #FFFFFF solid;
  padding-bottom: 2rem;
  color: rgb(255, 255, 255, 1);
  font-weight: bold;
  flex: 0 0 2rem;
}

.slider a {
  display: block;
  vertical-align: top;
  width: 220px;
  flex: 0 0 220px;
  text-align: center;
  padding-top: 1rem;
  text-decoration: none;
  margin: 0;
  border-radius: 0.5rem;
}

.slider a:hover {
  background-color: #FFFFFF;
}

.slider a h5 {
  white-space: normal;
  color: black;
  height: 3.5rem;
  margin: 0;
  padding: 0;
}

.slider a time.date {
  display: block;
  text-align: center;
}

.slider span.publisher {
  display: none;
}


.slider-nav {
  display: flex;
  overflow: auto;
}
.slider-nav {
  scrollbar-width: auto;
  scrollbar-color: #dd0000 #FFFFFF;
}
.slider-nav::-webkit-scrollbar {
   -webkit-appearance: none;
}

.slider-nav::-webkit-scrollbar:horizontal {
  height: 1px;
}
.slider-nav::-webkit-scrollbar-track {
  background: #FFFFFF;
}
.slider-nav::-webkit-scrollbar-thumb {
  background-color: #cf1308 ;
  border-radius: 5px;
  /*
  border: 1px solid #cf1308;
  */
}

.slider-nav a {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 10px;
  white-space: nowrap;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #FFFFFF;
}

.slider-nav a:hover {
}

.slider-nav a.selected {
  color: #cf1308;
}


#chapo {
  text-align: center;
}

#chapo p {
  line-height: 120% !important;
  font-size: 1.7rem;
  color: #aaa;
  margin: 1rem 0;
}

#chapo h1 {
  margin-bottom: 1rem;
}

#chapo h1 a {
  display: block;
}

#chapo .btn {
  float: right;
  padding: 0.2rem 0 0.2rem 0.2rem;
  color: #666;
}

#chapo .btn::after {
  content: "south_east";
  font-size: 2.1rem;
  line-height: 0.8rem;
  vertical-align: middle;
  border: 1px solid transparent;
}
#chapo a:hover {
  color: #000;
}
#chapo a:hover .btn {
  border-color: #cf1308;
  color: #000;
}

#chapo a:hover .btn::after {
  color: #cf1308;
}

#biblio .image-caption {
  font-variant: small-caps;
}

h3.custom-1 {
  font-size: 1.2em !important;
  font-weight: normal !important;
  text-align: left !important;
  line-height: initial !important;
  margin: 20px 0 !important;
  padding: 0 !important;
  text-indent: 0;
}

a {
  color: #dd0000;
}
a:hover {
  text-decoration: none;
}
a.hover-underline:hover, a.lire-la-suite:hover {
  text-decoration: underline !important;
}

form {  /* be careful, c5 search results are in a form */
}

time, address {
  color: #888;
  margin: 0;
  font-size: 1.1rem;
  text-align: center;
  display: block;
  text-align: left;
}

img.img-round {
  border-radius: 100%;
}

a.pb {
  font-size: 80%;
  font-stretch: 70%;
  float: none;
  margin: 0;
}

a:target {
  color: #000;
}

article > .pb, section > .pb {
  float: left;
  text-align: left;
  margin: 0;
}

article > h1 {
  clear: none; /* for floating page number */
}

.auto-scroll {
  overflow-y: auto;
}

a.link-disabled {
  pointer-events: none;
  cursor: default;
}

/* Entities */
.data-label {
  font-weight: bold;
}

.data-value {
  font-weight: lighter;
}

/* Modal */
.modal {
  max-width: 90% !important;
  margin: 50px !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.ccm-block-express-entry-list-advanced-search-container {
  background-color: #444;
}

* {
  transition: background-color 400ms, color 400ms, opacity 400ms, transform 400ms, border-bottom 400ms;
}

main.accueil h1 {
}

#accueil_autres {
  padding: 1rem 0 2rem 0;
}

#accueil_autres h1 {
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#accueil_actus {
}
#accueil_video {
}

.extracts-list-box {
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top right;
  position: relative;
}
#accueil_correspondances {
  background-image: url("../img/bkg-correspondances.jpg");
}
#accueil_archives {
  background-image: url("../img/bkg-archives.jpg");
}
#accueil_articles {
  background-image: url("../img/bkg-articles.jpg");
}
.extracts-list-box ul {
  padding: 0;
  margin: 0;
}
.extracts-list-box ul li {
  list-style: none;
  padding: 15px;
}
.extracts-list-box ul li h4 {
  margin: 0;
}
.extracts-list-box ul li time {
  margin: 0 0 10px 0;
}
.extracts-list-box .btn {
}

.timeline-portraits {
  background-image: url("../img/ban-medias.jpg");
  height: 100px;
}

a.hover-opacity-less:hover, a.hover-opacity-less:hover * {
  opacity: 0.7;
}

.video-player-rts-container {
  width: 100%;
  height: 97.5%;
  position: absolute;
  top: -110px;
}
.video-player-rts-container iframe {
  width: 100%;
  height: 100%;
}



.icon-small {
  width: 15px;
}

.icon-medium {
  width: 30px;
}

.icon-large {
  width: 100px;
}

a.media-thumbnail {
  display: block;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
}
a.media-thumbnail:hover {
  opacity: 0.7;
}
a.media-thumbnail .icon {
  font-size: 80px;
  width: 100%;
  height: 100%;
}




#notebot {
  max-height: 20%;
  overflow-y: auto;
  border-top: rgba(200, 200, 200, 0.2) 5px solid;
  background: #FFFFFF;
  position: fixed;
  bottom: 0;
  padding: 0.2rem 15px 0.2rem 15px;
}
#livre_sommaire {

}

#sidebar {
  padding: 3rem 15px;
}

#sidebar::after { /* hack floatfix */
  display: block;
  height: 4rem;
  content:' ';
}


#sidebar .toclocal {
  /* padding: 1.5rem 10px 5rem 10px; */
}

.toclocal ul {
  display: block; /* bootstrap want it as flex */
}

#sidebar .buts {
  display: none;
  position: fixed;
  margin: -1rem 0 0 -1.7rem;
}

#sidebar .buts > * {
  display: block;
  margin-bottom: 1rem;
  font-size: 15pt;
  cursor: pointer;
}

#sidebar .buts > *:hover {
  color: #dd0000;
}


/** toc livre */


.toclocal .nav { /* default bootstrap is flex, it’s a problem for page lists */
  display: block;
}

.toclocal .nav > li {
  /* override bootstrap default */
  padding: 3px 0;
}

.toclocal ul.nav {
  margin-left: 0;
  padding-left: 0;
}


.toclocal li.chapter > ul {
  /* display: none; */
}
.toclocal.all li.chapter > ul {
  display: block;
}


div.toclocal {
  line-height: 1.2;
}

.bg-light a,
.toclocal a {
  color: #666;
}
.toclocal a {
  display: block;
  padding: 10px;
  line-height: 1.1rem;
  font-style: normal;
}

a.visible,
li.nav-selected > a {
  color: #dd0000;
}
.bg-light li.nav-selected > a:hover {
  background: none;
}

.bg-light li.nav-selected {
  background: #FFFFFF;
  border-left: #dd0000 solid 3px;
  padding-left: 0.5rem;
}


.toclocal li {
  padding: 0;
  border-bottom: 1px #DDD dotted;
  color: #999;
  font-style: italic;
}


.nav ul ul {
  list-style: none;
  padding-left: 1rem;
}
  

.bg-light .nav li {
  display: block;
  line-height: 115%;
}

.bg-light .nav a {
  display: block;
}


.bg-light .nav a:hover,
.toclocal a:hover {
  background: linear-gradient(0.25turn, #f8f9fa, 30%, #ffffff);
  color: #dd0000;
}
.toclocal ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.toclocal ul.nav {
  margin-bottom: 3rem;
}
.toclocal ul ul {
  border-left: #CCC 1px solid;
  margin-left: 10px;
  padding-left: 10px;
}
.toclocal ul li {
  
}
.toclocal li.here {
  background-color: #FFFFFF;
}
.toclocal li.here ul {
  border-color: transparent;
}
.toclocal > ul > li {
  /* padding-left: 0.5rem; */
}


.btn.btn-outline-red {
  color: #dd0000;
  border-color: #dd0000;
}
.btn.btn-outline-red:hover {
  color: #000000;
  opacity: 0.7;
}

.btn.btn-plain-red {
  color: white !important;
  background-color: #dd0000 !important;
}
.btn.btn-plain-red:hover {
  opacity: 0.7;
}



/** Prev-next Concrete5 */

nav.foot {
}

.ccm-block-next-previous-wrapper {
  position: relative;
  display: flex;
  display: -ms-flexbox;
  align-items: stretch;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}
.ccm-block-next-previous-header, 
.ccm-block-next-previous-header,
.ccm-block-next-previous-parent-link {
  display: none;
}
.ccm-block-next-previous-wrapper p {
  overflow: hidden;
  position: relative;
  flex: 1 1 50%;
  -ms-flex-preferred-size: 0;
  -ms-flex-positive: 1;
  color: #cf1308;
  border-radius: .25rem;
  border: 1px solid #eee;
  margin: 0 15px;
  background-repeat: no-repeat;
}
.ccm-block-next-previous-wrapper p:hover {
  border-color: #cf1308;
  color: #cf1308;
}
p.ccm-block-next-previous-previous-link {
  text-align: left;
}
p.ccm-block-next-previous-next-link {
  text-align: right;
}

.ccm-block-next-previous-wrapper a:hover {
  color: #000;
}
p.ccm-block-next-previous-previous-link::before,
p.ccm-block-next-previous-next-link::after {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 2.3rem;
  font-size: 3rem;
  line-height: 0.8;
  margin: auto;

}


p.ccm-block-next-previous-previous-link::before,
p.ccm-block-next-previous-next-link::after {
}

p.ccm-block-next-previous-previous-link::before {
  content: "navigate_before";
  left: -10px;
}
p.ccm-block-next-previous-next-link::after {
  content: "navigate_next";
  right: -10px;
}

p.ccm-block-next-previous-previous-link::before:hover,
p.ccm-block-next-previous-next-link::after:hover {
  color: #000000;
}


p.ccm-block-next-previous-next-link a,
p.ccm-block-next-previous-previous-link a {
  color: #666;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.3rem;
  line-height: 2.2rem;
  white-space: nowrap;  /* ! page trop large */

}
p.ccm-block-next-previous-next-link a {
  padding: 0 1.5rem 0 0.5rem;
}
p.ccm-block-next-previous-previous-link a {
  padding: 0 0.5rem 0 1.5rem;
}





#header {
  position: relative;
  width:100%;
  color: #FFFFFF;
  padding: 0;
}
#header_ban {
  position: relative;
  z-index: 10;
  height: auto;
}
#header_ban > picture {
  position: absolute;
}
#header_ban > picture > img,
#header {
  height: 240px;
}

#header_ban > picture > img  {
  width: 100%;
}

#header_row {
  position: relative;
  display: flex;
  width:100%;
}
#portrait {
  flex: 1 1 30%;
}
#search_nav {
  flex: 1 1 70%;
}

#header .search {
  text-align: right;
}

#header a {
  color: #FFFFFF;
}
div.text {
  font-size: 110%;
}
div.text .note {
  font-size: 0.9rem;
}
.note-page {
  text-align: center;
}
main.liseuse aside.bibl {
  display:none;
}

/*
#header.shrinkable #header_row {
  display: absolute;
}
*/


#breadcrumb {
  position: fixed;
  background-color: #cf1308;
  color: #FFFFFF;

  width: 100%;
  z-index: 10;
  padding: 4px 0;
}
#breadcrumb a {
  color: #FFFFFF;
}
#breadcrumb a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
#breadcrumb .gotop {
  float: right;
  line-height: 0.5;
  font-size: 1.3rem;
}
.rail a {
  padding: 10px;
  border-radius: 5px;
  line-height: 1;
}
.rail b {
  font-weight: 900;
}
.rail {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
}
/*
.rail a::before {
  content: '/';
  font-weight: bold;
  position: absolute;
}
*/
.rail a.home {
  padding:0;
  display: inline-block;
  height: auto;
}
.rail a.home::before {
  content: '';
}

/*
header.shrinkable .gotop a {
  display: block;
}
header.shrinkable .gotop a:hover {
  opacity: 0.7;
}
header.shrinkable .gotop a i {
  width: 100%;
  text-align: center;
}

#header.shrinkable, #header.shrinkable * {
  transition: min-height 800ms, opacity 800ms;
}


body.shrink #header.shrinkable {
  height: auto;
  background-color: #cf1308;
  position: fixed;
  z-index: 5;
}

body.shrink #header.shrinkable #portrait {
  display: none;
}
body.shrink #header.shrinkable #portrait img {
  padding: 0.1rem 0 0 1rem;
  height: 3.0rem;
}
body.shrink #header.shrinkable #sitebox, body.shrink #header.shrinkable #moto {
  display: none;
}
body.shrink #header.shrinkable {
  background-image: none !important;
}
body.shrink #header.shrinkable .ccm-block-next-previous-wrapper a {
  color: black;
  background-color: white;
}
body.shrink #header.shrinkable .ccm-block-next-previous-wrapper a:hover {
  background-color: #EEE;
}
*/

#portrait {
  height: 175px;
  position: relative;
  background-image: url("../img/ddr-portrait.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  display: inline-block;
  width: auto;
  max-width: 500px;
  min-width: 200px;
}
#portrait a {
  color: black !important;
  font-size: 0.8rem;
  display: inline-block;
  width: 100%;
}
#portrait a:hover {
  opacity: 0.6;
}
#portrait img {
  padding-top: 10px;
}
#moto {
  display: block;
  position: absolute;
  bottom: 55px;
  right: 78px;
  line-height: 1.2;
}
.ccm-custom-style-container.ccm-custom-style-headersearch-8424,
.ccm-custom-style-container.ccm-custom-style-headernavigation-796 {
  margin: 0;
}
#header .ccm-search-block-form {
  margin-top: 2rem;
  max-width: 20rem;
  margin-left: auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

#header .ccm-search-block-text {

}
#header .ccm-search-block-submit {
  display: none;
  font-family: 'FontAwesome';
  color: #FFFFFF;
  font-weight: 900;
  /*
  position: relative;
  width: 30px;
  height: 30px;
  color: black !important;
  background-color: #aa0000 !important;
  font-size: 2rem;
  text-shadow: none;
  border: none !important;
  line-height: 0;
  margin: 0 !important;
  */
}
.ccm-search-block-submit:hover {
  background-color: #880000 !important;
}

.searchResult h3 {
  text-indent: 0;
}

.pagination {
  overflow: auto;
}

.headnav a {
  display: block;
  padding: 10px 8px;
  font-size: 15px;
  border-bottom: 1px solid black;
}
.headnav a:hover {
  border-color: #ccc;
}
.headnav ul {
  /* do not rely too much on C5 classes */
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.headnav li {
  list-style: none;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

/*
horizontal scrolling bad for mobile
.headnav {
  overflow: auto;
}
.headnav::-webkit-scrollbar {
   -webkit-appearance: none;
}
.headnav::-webkit-scrollbar:horizontal {
   height: 1px;
}

.headnav::-webkit-scrollbar-track { 
   background-color: #000; 
}
.headnav::-webkit-scrollbar-thumb {
   background-color: #FFF;
   border-radius: 6px;
}

.headnav li.nav-selected a, .headnav li.nav-path-selected a {
  border-bottom: 1px solid white;
}


*/

#footer {
  text-align: left;
  position: relative;
  z-index: 15;
  margin: 0;
  font-size: 0.9rem;
  color: #ccc;
}

#footer .row {
  align-items: flex-start;
  justify-content: center;
}

.logos .col {
  text-align: center;
}
#footer a {
  color: #ccc;
  text-decoration: underline;
}
#footer h5 {
  font-size: 1.1rem;
  color: #666;
  margin: 0 0 15px 0;
  text-indent: 2rem;
  border-bottom: 1px solid;
}
#footer p {
  margin-left: 2rem;
}
#footer ul {
  padding-left: 2rem;
}


#footer-small {
  color: #ccc;
  padding: 30px;
}
#footer-small img {
  margin: 0;
  width: 100%;
  mix-blend-mode: screen;
}


.logos a:hover {
  opacity: 0.7;
}
.logos .col {
  min-width: 150px;
  max-width: 50%;
}

/*
#footer nav div .container .row [class*=col-] img {
  width: 60px;
  display: block;
  margin: 15px;
  opacity: 0.5;
}
#footer nav div .container .row [class*=col-] img:hover {
  opacity: 1;
}
#footer nav div .container .row [class*=col-] ul {
  padding: 0;
  margin: 0;
}
#footer nav div .container .row [class*=col-] ul li {
  list-style: none;
}
*/

.carousel {
  display: flex;
  justify-content: center;
  padding: 0 0 30px 0;
}
.carousel .carousel-inner {
  width: 70%;
}
.carousel .carousel-control-prev, .carousel .carousel-control-next {
  bottom: initial !important;
  top: 33px;
}
.carousel .carousel-control-prev i, .carousel .carousel-control-next i {
  color: #aaa !important;
}


#bib_chapo img {
  border-radius: 100%;
}

nav.covers {
  position: relative;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: space-around;
}

nav.covers a {
  display: block;
  position: relative;
  width: 220px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
nav.covers a:hover {
  background-color: #eee;
}
nav.covers a .title {
  display: none;
}

nav.covers a .publisher {
  display: none;
}

nav.covers a .date {
  display: block;
  position: absolute;
  bottom: 1.2rem;
  right: 0.5rem;
  text-align: right;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
}

/** limiter les images dans une colonne */
.col-content img, .row img {
  width: 100%;
}

/** page liste avec vignette horizontale */






div.ccm-block-page-list-page-entry {
  margin:0;
  border-bottom: 1px solid #ffffff;
}

div.ccm-block-page-list-page-entry-horizontal {

}

div.ccm-block-page-list-page-entry-text div.ccm-block-page-list-title {
  font-weight: 300;
}
div.ccm-block-page-list-title a {
  display: block;
  padding: 10px;
}
div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail {
  width: 45%;
}
div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail img {
  width: 100%;
  
}
div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail {
}


/** list-pages medias */

.medias div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-title {
  text-align: center;
  font-size: 130%;
  font-weight: 300;
  padding-bottom: 0.5rem;
}

/** list-pages /articles, /correspondances */

.articles .ccm-block-page-list-pages,
.correspondances .ccm-block-page-list-pages 
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.articles div.ccm-block-page-list-page-entry-horizontal,
.correspondances div.ccm-block-page-list-page-entry-horizontal
{
  display: block;
  text-align: center;
  width: 220px;
  height: 250px;
  margin: 10px 0;
  position: relative;
}
.articles div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail,
.correspondances div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail
{
  width: auto;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}
.articles div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail img,
.correspondances div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail img
{
  height: 250px;
  width: auto;
}
.articles div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-text,
.articles div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-title,
.articles div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-title a,
.correspondances div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-text,
.correspondances div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-title,
.correspondances div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-title a
{
  display: block;
  padding: 0;
  height: 100%;
  width: 100%;
}

.articles div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-title a,
.correspondances div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-title a
{
  padding: 1rem;
  color: transparent;
}
.articles div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-title a:hover,
.correspondances div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-title a:hover
{
  color: #DD0000;
  background: rgba(255, 255, 255, 0.9);
}

.articles div.ccm-block-page-list-page-entry,
.correspondances div.ccm-block-page-list-page-entry
{
  display: none;
}

/** divers */

ul.pagination li {
  margin-left: 0.5rem;
}
ul.pagination li a {
  display: block;
  padding: 0 1rem;
  border: 1px solid transparent;
}
ul.pagination li a:hover {
  border-color: #CCCCCC;
}

#loginout {
  text-align: right;
}

/** 
 * Teinte surcharge
 */

.cb, .pb, .ed {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1px 2px 1px 2px;
  text-align: right;
  /* float: right; problèmes dans les tableaux */
}


a.facs {
  float: none;
}

article > a.pb, section > a.pb {
  float: right;
}

/* 
 * Responsive design
 */

@media (max-width: 766px) { 
  /* bootstrap md medium */
  
  #header_row {
    display: block;
  }
  
  /*
  .slider-nav a {
    padding: 0 1rem;
    border-bottom: none;
  }
  */
  #portrait {
    height: auto;
    background: none;
    z-index: 10;
  }
  #header {
    height: auto;
  }
  #header_ban > picture > img {
    height: 150px;
  }
  #header .ccm-search-block-text {
    display: none;
  }
  #header .search {
  }

  /** aligning tables */
  table.table,
  table.table thead,
  table.table tbody,
  table.table tr,
  table.table th {
    display: block;
  }
  table.table td {
    display: list-item;
    text-align: left;
    margin-left: 1.5rem;
  }
  table.table tr *:first-child {
    margin-left: 0;
  }
  table.table tr {
    border-bottom: solid 1px #CCCCCC;
  }
  table.table td {
    border: none;
  }
  .toclocal a {
  }
  .toclocal ul ul {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
  }
  #header .ccm-search-block-form {
    margin-top: 0;
  }
  .ccm-block-next-previous-wrapper {
    display: block;
  }
}
@media (max-width: 575px) {
  /** bootstrap sm small */
  #header_ban > picture {
    display: none;
  }
  #header_ban {
    background-color: #cf1308;
  }
}
@media (max-width: 991px) {
  /** bootstrap, not lg large */
  .headnav a {
    padding: 5px;
    border: none !important;
    font-size: 100%;
  }
  #sidebar  {
    margin-right: -15px;
    margin-left: -15px;
  }
  .headnav a:hover {
    background: rgba(128, 128, 128, 0.3);
  }

}



@media (min-width: 992px) {
  /** bootstrap lg large */
  #viewport {
   /* overflow: hidden; */
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  #sidebar {
    /* old browsers */
    position: fixed;
    position: -webkit-sticky;
    position: sticky;
    /* size with full header */
    height: calc(100vh - 40px);
    top: 40px;
    order: -1; 
    overflow-y: auto;
  }
  #text {
    padding-left: 30px;
    padding-right: 0;
    flex: 1 0 auto;
    width: 600px;
  }
  #sidebar {
    flex: 0 0 30%;
  }
  #text article {
    font-size: 112%;
  }

}

@media (min-width: 1200px) {
  /** bootstrap xl  extra large */
  #sidebar {
  /*
    max-width: 380px;
    flex: 0 0 380px;
    */
  }
  #text {
    padding-left: 50px;
  }
}
