body {
  margin: 0;
  padding: 0;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

ul.nav { /* bug bootstrap ? */
  display: block;
}

.color-brightest {
  color: #eee;
}

.color-brighter {
  color: #ccc;
}

.color-bright {
  color: #aaa;
}

.color-medium {
  color: #888;
}

.color-dark {
  color: #666;
}

.color-darker {
  color: #444;
}

.color-darkest {
  color: #222;
}

.color-black {
  color: black;
}

.color-red {
  color: #dd0000;
}

.color-white {
  color: white;
}

.bkg-color-brightest {
  background-color: #eee;
}

.bkg-color-brighter {
  background-color: #ccc;
}

.bkg-color-bright {
  background-color: #aaa;
}

.bkg-color-medium {
  background-color: #888;
}

.bkg-color-dark {
  background-color: #666;
}

.bkg-color-darker {
  background-color: #444;
}

.bkg-color-darkest {
  background-color: #222;
}

.bkg-color-black {
  background-color: black;
}

.bkg-color-white {
  background-color: white;
}

.bkg-color-red {
  background-color: #dd0000;
}

.bkg-gradient-brighter-to-brightest {
  background: linear-gradient(0deg, #eee 0%, #ccc 100%);
}

.bkg-gradient-brighter-to-white {
  background: linear-gradient(0deg, white 0%, #ccc 100%);
}

.bkg-gradient-white-to-brighter {
  background: linear-gradient(0deg, #ccc 0%, white 100%);
}

@font-face {
  font-family: utopia-regular;
  src: url("../font/Utopia-Regular.ttf");
}
@font-face {
  font-family: firasans-light;
  src: url("../font/FiraSans-Light.ttf");
}
@font-face {
  font-family: firasans-regular;
  src: url("../font/FiraSans-Regular.ttf");
}
body {
  font-family: firasans-light;
}

.flex, #footer .logos .container .row [class*=col], a.lire-la-suite {
  display: flex;
}
.flex.flex-left, #footer .logos .container .row .flex-left[class*=col], a.flex-left.lire-la-suite {
  justify-content: flex-start;
}
.flex.flex-center, #footer .logos .container .row [class*=col], a.flex-center.lire-la-suite {
  justify-content: center;
}
.flex.flex-right, #footer .logos .container .row .flex-right[class*=col], a.lire-la-suite {
  justify-content: flex-end;
}
.flex.flex-vertical-top, #footer .logos .container .row .flex-vertical-top[class*=col], a.flex-vertical-top.lire-la-suite {
  align-items: flex-start;
}
.flex.flex-vertical-center, #footer .logos .container .row [class*=col], a.flex-vertical-center.lire-la-suite {
  align-items: center;
}
.flex.flex-vertical-bottom, #footer .logos .container .row .flex-vertical-bottom[class*=col], a.flex-vertical-bottom.lire-la-suite {
  align-items: flex-end;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.icon-size-xxl i {
  font-size: 3rem;
}
.icon-size-xxl img {
  width: 60px;
}

.pad-xs {
  padding: 5px;
}

.pad-s {
  padding: 10px;
}

.pad-m {
  padding: 15px;
}

.pad-l {
  padding: 20px;
}

.pad-xl {
  padding: 30px;
}

.pad-xxl {
  padding: 60px;
}

.pad-top-xs {
  padding-top: 5px;
}

.pad-top-s {
  padding-top: 10px;
}

.pad-top-m {
  padding-top: 15px;
}

.pad-top-l {
  padding-top: 20px;
}

.pad-top-xl {
  padding-top: 30px;
}

.pad-top-xxl {
  padding-top: 60px;
}

.pad-bottom-xs {
  padding-bottom: 5px;
}

.pad-bottom-s {
  padding-bottom: 10px;
}

.pad-bottom-m {
  padding-bottom: 15px;
}

.pad-bottom-l {
  padding-bottom: 20px;
}

.pad-bottom-xl {
  padding-bottom: 30px;
}

.pad-bottom-xxl {
  padding-bottom: 60px;
}

.pad-left-xs {
  padding-left: 5px;
}

.pad-left-s {
  padding-left: 10px;
}

.pad-left-m {
  padding-left: 15px;
}

.pad-left-l {
  padding-left: 20px;
}

.pad-left-xl {
  padding-left: 30px;
}

.pad-left-xxl {
  padding-left: 60px;
}

.pad-right-xs {
  padding-right: 5px;
}

.pad-right-s {
  padding-right: 10px;
}

.pad-right-m {
  padding-right: 15px;
}

.pad-right-l {
  padding-right: 20px;
}

.pad-right-xl {
  padding-right: 30px;
}

.pad-right-xxl {
  padding-right: 60px;
}

.marg-xs {
  margin: 5px;
}

.marg-s {
  margin: 10px;
}

.marg-m {
  margin: 15px;
}

.marg-l {
  margin: 20px;
}

.marg-xl {
  margin: 30px;
}

.marg-xxl {
  margin: 60px;
}

.marg-top-xs {
  margin-top: 5px;
}

.marg-top-s {
  margin-top: 10px;
}

.marg-top-m {
  margin-top: 15px;
}

.marg-top-l {
  margin-top: 20px;
}

.marg-top-xl {
  margin-top: 30px;
}

.marg-top-xxl {
  margin-top: 60px;
}

.marg-right-xs {
  margin-right: 5px;
}

.marg-right-s {
  margin-right: 10px;
}

.marg-right-m {
  margin-right: 15px;
}

.marg-right-l {
  margin-right: 20px;
}

.marg-right-xl {
  margin-right: 30px;
}

.marg-right-xxl {
  margin-right: 60px;
}

.marg-bottom-xs {
  margin-bottom: 5px;
}

.marg-bottom-s {
  margin-bottom: 10px;
}

.marg-bottom-m {
  margin-bottom: 15px;
}

.marg-bottom-l {
  margin-bottom: 20px;
}

.marg-bottom-xl {
  margin-bottom: 30px;
}

.marg-bottom-xxl {
  margin-bottom: 60px;
}

.marg-left-xs {
  margin-left: 5px;
}

.marg-left-s {
  margin-left: 10px;
}

.marg-left-m {
  margin-left: 15px;
}

.marg-left-l {
  margin-left: 20px;
}

.marg-left-xl {
  margin-left: 30px;
}

.marg-left-xxl {
  margin-left: 60px;
}

.liseuse h1,
.liseuse h2,
.liseuse h3,
.liseuse h4 {
  text-align: center;
}

.liseuse h1.article {
  margin-bottom: 5rem;
}


h1 {
  font-family: utopia-regular;
  font-size: 2rem;
  padding: 0;
}

h2 {
  font-family: "firasans-regular";
  font-size: 1.5rem;
  font-weight: normal;
  text-align: left;
  line-height: initial;
  margin: 1rem 0;
  padding: 0;
}

h3 {
  font-family: "utopia-regular";
  font-weight: normal;
  font-size: 1.2rem;
  padding: 0;
}

.ccm-block-page-list-header,
h4 {
  font-size: 1.5rem;
  font-family: firasans-regular;
  font-weight: normal;
}

h5, h6 {
  font-family: firasans-regular;
  font-weight: normal;
}

h5 {
  font-size: 100%;
}

#accueil_autres {
  padding: 1rem 0 2rem 0;
}

#accueil_tous {
  display: none;
}

.slider {
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1rem;
  position: relative;
  display: flex;
  height: 400px;
  align-content: flex-start ;
}

.slider h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: right;
  border-left: 2px #FFFFFF solid;
  padding-bottom: 2rem;
  color: rgb(255, 255, 255, 1);
  font-weight: bold;
  flex: 0 0 2rem;
}

.slider a {
  display: block;
  vertical-align: top;
  width: 220px;
  flex: 0 0 220px;
  text-align: center;
  padding-top: 1rem;
  text-decoration: none;
  margin: 0;
  border-radius: 0.5rem;
}

.slider a:hover {
  background-color: #FFFFFF;
}

.slider a h5 {
  white-space: normal;
  color: black;
  height: 3.5rem;
  margin: 0;
  padding: 0;
}

.slider a time.date {
  display: block;
  text-align: center;
}

.slider span.publisher {
  display: none;
}

.slider::-webkit-scrollbar {
  width: 11px;
}
.slider {
  scrollbar-width: auto;
  scrollbar-color: #dd0000 #FFFFFF;
}
.slider::-webkit-scrollbar-track {
  background: #FFFFFF;
}
.slider::-webkit-scrollbar-thumb {
  background-color: #dd0000 ;
  border-radius: 6px;
  border: 3px solid #FFFFFF;
}

.slider-nav {
  display: flex;
  justify-content: center;
}

.slider-nav a {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #FFF;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 10px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000;
}

.slider-nav a:hover {
}

.slider-nav a.selected {
  border-color: #dd0000;
}

#accueil_autres h1 {
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#medias {
  color: #FFFFFF;
}

#chapo {
  text-align: center;
}

#chapo h1 {
  margin-bottom: 1rem;
}

#chapo .btn {
  float: right;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-family: firasans-light;
  margin-top: 0.5rem;
}


h3.custom-1 {
  font-size: 1.2em !important;
  font-weight: normal !important;
  text-align: left !important;
  line-height: initial !important;
  margin: 20px 0 !important;
  padding: 0 !important;
  text-indent: 0;
}

a {
  color: #dd0000;
}
a:hover {
  text-decoration: none;
}
a.hover-underline:hover, a.lire-la-suite:hover {
  text-decoration: underline !important;
}

form {
  line-height: 1;
}

time, address {
  color: #888;
  margin: 0;
  font-size: 1.1rem;
  text-align: center;
  font-family: utopia-regular;
  display: block;
  text-align: left;
}

img.img-round {
  border-radius: 100%;
}

.livres.livres-carousel {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.livres [class*=col] a {
  padding: 15px;
}
.livres [class*=col] a:hover {
  background-color: #eee;
  opacity: 1;
}
.livres li {
  display: block;
  width: 100%;
}
.livres a {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.livres a:hover {
  opacity: 0.7;
}
.livres a img {
  height: 150px;
}
.livres a h5 {
  color: black;
  font-size: 1rem;
  text-align: center;
  margin: 10px 0 0 0 !important;
}
.livres a .editeur {
  color: #666;
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1;
  text-align: center;
}

a.pb {
  font-size: 80%;
  font-stretch: 70%;
  font-family: sans-serif;
  float: none;
  margin: 0;
}

article > .pb, section > .pb {
  display: block;
  float: none;
  text-align: left;
  margin: 0;
}

.auto-scroll {
  overflow-y: auto;
}

a.link-disabled {
  pointer-events: none;
  cursor: default;
}

/* Entities */
.data-label {
  font-weight: bold;
}

.data-value {
  font-weight: lighter;
}

/* Modal */
.modal {
  max-width: 90% !important;
  margin: 50px !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

#chapo p {
  font-family: Times, serif;
  line-height: 100% !important;
  font-size: 1.7rem;
  color: #aaa;
}

.ccm-block-express-entry-list-advanced-search-container {
  background-color: #444;
}

* {
  transition: background-color 400ms, color 400ms, opacity 400ms, transform 400ms, border-bottom 400ms;
}


.flex, #footer .logos .container .row [class*=col], a.lire-la-suite {
  display: flex;
}
.flex.flex-left, #footer .logos .container .row .flex-left[class*=col], a.flex-left.lire-la-suite {
  justify-content: flex-start;
}
.flex.flex-center, #footer .logos .container .row [class*=col], a.flex-center.lire-la-suite {
  justify-content: center;
}
.flex.flex-right, #footer .logos .container .row .flex-right[class*=col], a.lire-la-suite {
  justify-content: flex-end;
}

.extracts-list-box {
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-size: 77%;
  background-position: top right;
}
#accueil_correspondances {
  background-image: url("../img/bkg-correspondances.jpg");
}
#accueil_archives {
  background-image: url("../img/bkg-archives.jpg");
}
#accueil_articles {
  background-image: url("../img/bkg-articles.jpg");
}
.extracts-list-box ul {
  padding: 0;
  margin: 0;
}
.extracts-list-box ul li {
  list-style: none;
  padding: 15px;
}
.extracts-list-box ul li h4 {
  margin: 0;
}
.extracts-list-box ul li time {
  margin: 0 0 10px 0;
}

ul.list-pointless {
  padding: 0;
  margin: 0;
}
ul.list-pointless li {
  list-style: none;
}

.timeline-portraits {
  background-image: url("../img/ban-medias.jpg");
  height: 100px;
}

a.hover-opacity-less:hover, a.hover-opacity-less:hover * {
  opacity: 0.7;
}

.video-player-rts-container {
  width: 100%;
  height: 97.5%;
  position: absolute;
  top: -110px;
}
.video-player-rts-container iframe {
  width: 100%;
  height: 100%;
}

.medias {
  color: white;
}
.medias h4 {
  color: white;
  margin: 10px 0;
}
.medias p {
  padding: 0;
  margin: 0;
  color: black;
}

.icon-small {
  width: 15px;
}

.icon-medium {
  width: 30px;
}

.icon-large {
  width: 100px;
}

a.media-thumbnail {
  display: block;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
}
a.media-thumbnail:hover {
  opacity: 0.7;
}
a.media-thumbnail .icon {
  font-size: 80px;
  width: 100%;
  height: 100%;
}

#viewport {
  overflow: hidden;
  position: relative;
}
#sidebar {
  padding: 0 0 2rem 3px;
  position: relative;
}
#toc.scrolled {
  position: fixed;
  overflow: auto;
  bottom: 0rem;
  top: 2rem;
  width: inherit;
  max-width: inherit;
}
#text {
  padding-left: 2rem;
}
#notebot {
  border-top: rgba(200, 200, 200, 0.2) 5px solid;
  background: #FFFFFF;
  position: fixed;
  bottom: 0;
  margin-left: -15px;
  padding: 0.2rem 15px 0.2rem 15px;
}

.col-sidebar {
  background-color: #eee; /* bkg-color-brightest */
}
.col-sidebar,
div.toclocal {
  padding: 1rem 0.5rem 5rem 0.5rem;
}

/** toc livre */
.toclocal li.chapter > ul {
  display: none;
}
.toclocal.all li.chapter > ul {
  display: block;
}


div.toclocal {
  line-height: 1.2;
}

.col-sidebar a,
.toclocal a {
  color: #000;
}
.toclocal a {
  display: block;
}

.toclocal a.visible,
.col-sidebar li.nav-selected > a {
  color: #dd0000;
}

.col-sidebar li.nav-selected {
  background: #FFFFFF;
}


div.toclocal li {
  padding: 0.1rem 0 0.1rem 0.5rem;
}
.toclocal a {
  color: black;
  display: block;
}

.col-sidebar .nav li {
  padding: 3px 1.5rem;
  line-height: 125%;
}
  

.col-sidebar .nav a {
  display: block;
  padding: 0 5px;
}

.col-sidebar .nav a:hover,
.toclocal a:hover {
  background: linear-gradient(0.25turn, #ffffff, #eeeeee);
}
.toclocal ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.toclocal ul ul {
  margin-left: 1rem;
}
.toclocal li.here {
  background-color: #FFFFFF;
}
.toclocal > ul > li {
  padding-left: 0.5rem;
}


.btn.btn-outline-red {
  color: #dd0000;
  border-color: #dd0000;
}
.btn.btn-outline-red:hover {
  color: #000000;
  opacity: 0.7;
}

.btn.btn-plain-red {
  color: white !important;
  background-color: #dd0000 !important;
}
.btn.btn-plain-red:hover {
  opacity: 0.7;
}


.btn.btn-outline-bright {
  color: #ccc !important;
  border-color: #ccc !important;
}
.btn.btn-outline-bright:hover {
  color: #eee !important;
  border-color: #eee !important;
}
.btn.btn-outline-medium {
  color: #888 !important;
  border-color: #888 !important;
  background-color: rgba(255, 255, 255, 0.3);
}
.btn.btn-outline-medium:hover {
  color: #666 !important;
  border-color: #666 !important;
  background-color: rgba(255, 255, 255, 0.7);
}
.btn.btn-outline-dark {
  color: #444 !important;
  border-color: #444 !important;
  background-color: rgba(255, 255, 255, 0.3);
}
.btn.btn-outline-dark:hover {
  color: #222 !important;
  border-color: #222 !important;
  background-color: rgba(255, 255, 255, 0.7);
}
a.btn.btn-plain, button.btn.btn-plain, input[type=submit].btn.btn-plain {
  border: none;
}
a.btn.btn-plain-white, button.btn.btn-plain-white, input[type=submit].btn.btn-plain-white {
  color: black !important;
  background-color: white !important;
}
a.btn.btn-plain-white:hover, button.btn.btn-plain-white:hover, input[type=submit].btn.btn-plain-white:hover {
  background-color: #eee !important;
}
a.btn.btn-plain-bright, button.btn.btn-plain-bright, input[type=submit].btn.btn-plain-bright {
  color: #222 !important;
  background-color: #ccc !important;
}
a.btn.btn-plain-bright:hover, button.btn.btn-plain-bright:hover, input[type=submit].btn.btn-plain-bright:hover {
  background-color: #eee !important;
}
a.btn.btn-plain-medium, button.btn.btn-plain-medium, input[type=submit].btn.btn-plain-medium {
  color: white !important;
  background-color: #888 !important;
}
a.btn.btn-plain-medium:hover, button.btn.btn-plain-medium:hover, input[type=submit].btn.btn-plain-medium:hover {
  background-color: #666 !important;
}
a.btn.btn-plain-dark, button.btn.btn-plain-dark, input[type=submit].btn.btn-plain-dark {
  color: #eee !important;
  background-color: #444 !important;
}
a.btn.btn-plain-dark:hover, button.btn.btn-plain-dark:hover, input[type=submit].btn.btn-plain-dark:hover {
  background-color: #222 !important;
}

/** Prev-next Concrete5 */
.ccm-block-next-previous-wrapper a {
  color: white;
  background-color: #dd0000;
  padding: 3px 7px;
  font-size: 0.9rem;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 0;
  white-space: nowrap;
  overflow: hidden;
}
.ccm-block-next-previous-wrapper a:hover {
  opacity: 0.7;
}
.c5-fa,
.ccm-block-next-previous-previous-link a::before,
.ccm-block-next-previous-next-link a::after,
#chapo .btn::after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.ccm-block-next-previous-previous-link a::before {
  content: "\f053";
  margin-right: 0.5rem;
}
.ccm-block-next-previous-next-link a::after,
#chapo .btn::after {
  content: "\f054";
  margin-left: 0.5rem;
}
.ccm-block-next-previous-wrapper {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.ccm-block-next-previous-wrapper p {
  justify-content: center;
  flex-basis: 0;
  -ms-flex-preferred-size: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

}
.ccm-block-next-previous-header, .ccm-block-next-previous-header, .ccm-block-next-previous-parent-link {
  display: none;
}

#header {
  z-index: 10;
  /* background-color: #cf1308; */
  background-image: url("../img/ban-header.png");
  background-repeat: no-repeat;
  background-position: center top;
  height: 240px;
  background-size: 150% 240px;
  position: relative;
  color: #FFFFFF;
}
#header a {
  color: #FFFFFF;
}
#header.shrinkable {
  position: fixed;
  width: 100%;
}
div.text {
  font-size: 110%;
}
div.text .note {
  font-size: 0.9rem;
}
main.liseuse {
  padding-top: 240px;
}
main.liseuse aside.bibl {
  display:none;
}
header.shrinkable h1, header.shrinkable h2 {
  color: white;
  margin: 0 !important;
  text-align: left !important;
}
header.shrinkable h1 {
  font-size: 1.4rem;
  padding: 5px 0 2px 0;
}
header.shrinkable h2 {
  font-size: 1.1rem;
  padding: 2px 0 5px 0px;
}
#header #breadcrumb {
  display: none;
}
#header.shrinked #breadcrumb {
  display: block;
}
#breadcrumb .gotop {
  margin-left: 1rem;
  float: right;
}

#breadcrumb .headmeta {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

header.shrinkable .gotop a {
  display: block;
}
header.shrinkable .gotop a:hover {
  opacity: 0.7;
}
header.shrinkable .gotop a i {
  width: 100%;
  text-align: center;
}
#header.shrinkable, #header.shrinkable * {
  transition: min-height 800ms, opacity 800ms;
}
#header.shrinked {
  height: 3rem;
  background-color: #cf1308;
}
#header.shrinked #portrait {
  height: 3rem;
  background: transparent;
}
#header.shrinked #portrait img {
  padding: 0.1rem 0 0 1rem;
  height: 3.0rem;
}
#header.shrinked #sitebox, #header.shrinked #moto {
  display: none;
}
#header.shrinked {
  background-image: none !important;
}
#header.shrinked .ccm-block-next-previous-wrapper a {
  color: black;
  background-color: white;
}
#header.shrinked .ccm-block-next-previous-wrapper a:hover {
  background-color: #EEE;
}

#portrait {
  height: 175px;
  position: relative;
  display: block;
  background-image: url("../img/ddr-portrait.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
#portrait a {
  color: black !important;
  font-size: 0.8rem;
  width: 100%;
  display: block;
}
#portrait a:hover {
  opacity: 0.6;
}
#portrait img {
  padding-top: 10px;
}
#portrait a span {
  display: block;
  position: absolute;
  top: 55px;
  right: 37px;
  line-height: 1.2;
}
.search-form-container {
  align-item: center;
  margin-top: 15px;
}
.headnav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 30px 0 0 0;
}
.headnav ul li {
  list-style: none;
  white-space: nowrap;
}
.headnav ul li a {
  border-bottom: 1px solid black;
  display: block;
  padding: 0 15px;
}
.headnav ul li a:hover {
  border-bottom: 1px solid #ccc;
}
.headnav li.nav-selected a, .headnav li.nav-path-selected a {
  border-bottom: 1px solid white;
}

.headnav ul li a {
  display: block;
  color: white;
  padding: 10px 10px;
}

#footer {
  text-align: left;
  position: relative;
  z-index: 10;
  margin: 0;
  font-size: 0.9rem;
  color: #ccc;
}
#footer a {
  color: #ccc;
  text-decoration: underline;
}
#footer h5 {
  font-size: 1.1rem;
  color: #666;
  margin: 15px 0;
}
#footer-small {
  color: #ccc;
  padding: 30px;
}
#footer-small img {
  margin: 0;
  width: 100%;
  mix-blend-mode: screen;
}
#footer .logos .container .row [class*=col] {
  opacity: 1;
}
#footer .logos .container .row [class*=col].gsi img {
  width: 190px;
}
#footer .logos .container .row [class*=col].bpun img {
  width: 170px;
}
#footer .logos .container .row [class*=col].cec img {
  width: 170px;
}
#footer .logos .container .row [class*=col].heid img {
  width: 300px;
}
#footer .logos .container .row [class*=col].rts img {
  width: 120px;
}
#footer nav div {
  padding: 10px 0;
}

#footer nav div .container .row [class*=col-] a:hover {
  opacity: 0.7;
}
#footer nav div .container .row [class*=col-] img {
  width: 60px;
  display: block;
  margin: 15px;
  opacity: 0.5;
}
#footer nav div .container .row [class*=col-] img:hover {
  opacity: 1;
}
#footer nav div .container .row [class*=col-] ul {
  padding: 0;
  margin: 0;
}
#footer nav div .container .row [class*=col-] ul li {
  list-style: none;
}

.carousel {
  display: flex;
  justify-content: center;
  padding: 0 0 30px 0;
}
.carousel .carousel-inner {
  width: 70%;
}
.carousel .carousel-control-prev, .carousel .carousel-control-next {
  bottom: initial !important;
  top: 33px;
}
.carousel .carousel-control-prev i, .carousel .carousel-control-next i {
  color: #aaa !important;
}

#header .search {
  text-align: right;
  margin-top: 0.8rem;
}

.ccm-search-block-text {
}
.ccm-search-block-submit {
  font-family: 'FontAwesome';
  color: #FFFFFF;
  font-weight: 900;
  margin-left: -0.7rem;
  /*
  position: relative;
  width: 30px;
  height: 30px;
  color: black !important;
  background-color: #aa0000 !important;
  font-size: 2rem;
  text-shadow: none;
  border: none !important;
  line-height: 0;
  margin: 0 !important;
  */
}
.ccm-search-block-submit:hover {
  background-color: #880000 !important;
}

#bib_chapo img {
  border-radius: 100%;
}

nav.covers {
  position: relative;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: space-around;
}

nav.covers a {
  display: block;
  position: relative;
  width: 220px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
nav.covers a:hover {
  background-color: #eee;
}
nav.covers a .title {
  display: none;
}

nav.covers a .publisher {
  display: none;
}

nav.covers a .date {
  display: block;
  position: absolute;
  bottom: 1.2rem;
  right: 0.5rem;
  text-align: right;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
}

/** limiter les images dans une colonne */
.col-content img, .row img {
  width: 100%;
}

/** page liste avec vignette horizontale */

.ccm-block-page-list-pages {
}

div.ccm-block-page-list-page-entry-horizontal, 
div.ccm-block-page-list-page-entry {
  display: block;
  margin: 0;
}
div.ccm-block-page-list-title {
  /* text-align: center; */
}
div.ccm-block-page-list-title a {
  display: block;
  padding: 0 3px;
  font-weight: normal;
}
div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail,
div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-text {
  display: block;
}
div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-text {
  padding: 0;
}
div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail,
div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail img {
    width: 100%;
}

ul.pagination li {
  margin-left: 0.5rem;
}
ul.pagination li a {
  display: block;
  padding: 0 1rem;
  border: 1px solid transparent;
}
ul.pagination li a:hover {
  border-color: #CCCCCC;
}
